html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace, sans-serif;

}

canvas {
  display: block;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
#viewfinder {
  font-size: 1.5vw;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}
#viewfinder.rendered > p {
  font-size: 10px;
  line-height: 10px;
  height: 10px;
}

#credits {
  width: 100%;
  text-align: right;
  display: none;
  color: #999;
  font-weight: thin;
}
#viewfinder.rendered > #credits {
  display: block;
}